
<p><b><%= book.title %></b> <br></p>
	 <% if book.author? %>
	   		Written by : <i><%= book.author%></i> 
	   <%end%>
	   <% if book.publisher? %>
	   		, Published by : <%= book.publisher %></p>
	   <%end%>