<% provide(:title, "All Books") %>
<h1>All Books</h1>
<%= will_paginate %>
<ul>
<% @books.each do |book| %>
       <li><%= render 'shared/book_info', :book => book %>
       	<br><i><%= link_to "Details" , book_path(book) %></i></li>
    <% end %>
</ul>
<%= will_paginate %>

