<% provide(:title, "All Books") %>
<h1>All Books</h1>
<%= will_paginate @books %>
<ul>
<% @books.each do |book| %>
       <li><%= render 'shared/book_info', :book => book %>
       	   <%= render 'shared/admin_links' , :book => book %>
           </li>
    <% end %>
</ul>
<%= will_paginate @books%>

