<% provide(:title ,@book.try(:title))%>
<h1> Book <%= @book.try(:id) %> </h1>
<p><b><%= @book.try(:title) %></b> <br> Written by : <i><%= @book.try(:author) %></i> , Published by : <%= @book.try(:publisher) %></p>
