<header>
	     <nav>
	        <ul>
				<li> <%= link_to "Home", root_path %> </li>
				<li> <%= link_to "Browse",books_path%> </li>
				<li> <%= link_to "About", about_path%> </li>
				   <%= render 'layouts/sign_links' %> 
		  </ul>
	     </nav>
</header>